<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weclubs.mapper.WCClubDepartmentMapper">

    <!-- 社团部门映射 map -->
    <resultMap id="clubDepartmentMap" type="com.weclubs.bean.WCClubDepartmentBean">
        <id property="departmentId" column="department_id" />
        <result property="departmentName" column="department_name" />
        <result property="isSuggest" column="is_suggest" />
        <result property="isDel" column="is_del" />
    </resultMap>

    <!-- 创建社团部门 -->
    <insert id="createClubDepartment" useGeneratedKeys="true" keyProperty="departmentId" parameterType="com.weclubs.bean.WCClubDepartmentBean">
        INSERT INTO `t_club_department`(`department_name`)
        VALUES (#{departmentName})
    </insert>

    <!-- 根据 id 获取社团部门详情 -->
    <select id="getClubDepartmentById" resultMap="clubDepartmentMap">
        SELECT * FROM `t_club_department`
        WHERE `department_id` = #{clubDepartmentId}
    </select>

    <!-- 更新社团部门实体信息 -->
    <update id="updateClubDepartment" parameterType="com.weclubs.bean.WCClubDepartmentBean">
        UPDATE `t_club_department`
        SET `department_name` = #{departmentName}, `is_success` = #{isSuggest}
        WHERE `department_id` = #{id}
    </update>

    <!-- 根据 id 删除社团部门 -->
    <update id="deleteClubDepartment">
        UPDATE `t_club_department`
        SET `is_del` = #{isDel}
        WHERE `department_id` = #{clubDepartmentId}
    </update>

    <!-- 获取所有推荐的部门表 -->
    <select id="getClubDepartmentBySuggest" resultType="List" resultMap="clubDepartmentMap">
        SELECT * FROM `t_club_department`
        WHERE `is_suggest` = 1
        AND `is_del` = 0
    </select>

    <!-- 根据 departmentName 获取社团部门详情 -->
    <select id="getClubDepartmentByName" resultMap="clubDepartmentMap" resultType="com.weclubs.bean.WCClubDepartmentBean">
        SELECT *
        FROM `t_club_department`
        WHERE `department_name` = #{departmentName}
    </select>

    <!-- 根据社团 id 和 部门集合设置社团当前届的部门 -->
    <update id="setCurrentClubDepartments">
        UPDATE `t_club_graduate`
        SET `departments` = #{departments}
        WHERE `club_id` = #{clubId}
        AND `is_current` = 1
    </update>

    <!-- 根据社团 id 获取当前届数社团的所有部门 -->
    <select id="getCurrentClubDepartmentsByClubId" resultType="String">
        SELECT `departments`
        FROM `t_club_graduate`
        WHERE `club_id` = #{clubId}
        AND `is_current` = 1
    </select>

</mapper>