<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weclubs.mapper.WCClubMapper">

    <!-- 社团实体映射 map，不包含学校信息 -->
    <resultMap id="clubMap" type="com.weclubs.bean.WCClubBean">
        <id property="id" column="id" />
        <result property="schoolId" column="school_id" />
        <result property="name" column="name" />
        <result property="introduction" column="introduction" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="isAuth" column="is_auth" />
        <result property="level" column="level" />
        <result property="status" column="status" />
        <result property="checkCount" column="check_count" />
    </resultMap>

    <!-- 社团实体映射 map，包含学校信息 -->
    <resultMap id="clubWithSchoolMap" type="com.weclubs.bean.WCClubBean">
        <id property="clubId" column="club_id" />
        <result property="schoolId" column="school_id" />
        <result property="name" column="name" />
        <result property="introduction" column="introduction" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="isAuth" column="is_auth" />
        <result property="level" column="level" />
        <result property="status" column="status" />
        <result property="checkCount" column="check_count" />

        <association property="schoolBean" javaType="com.weclubs.bean.WCSchoolBean">
            <id property="schoolId" column="school_id" />
            <result property="name" column="name" />
            <result property="parentId" column="parent_id" />
            <result property="isDel" column="is_del" />

            <association property="parentSchoolBean" javaType="com.weclubs.bean.WCSchoolBean">
                <id property="schoolId" column="school_id" />
                <result property="name" column="name" />
                <result property="parentId" column="parent_id" />
                <result property="isDel" column="is_del" />
            </association>
        </association>
    </resultMap>

    <!-- 学生实体映射 map，包含学校信息 -->
    <resultMap id="studentWithSchoolMap" type="com.weclubs.bean.WCStudentBean">
        <id property="studentId" column="student_id" />
        <result property="schoolId" column="school_id" />
        <result property="mobile" column="mobile" />
        <result property="nickName" column="nick_name" />
        <result property="realName" column="real_name" />
        <result property="password" column="password" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="birthday" column="birthday" />
        <result property="className" column="class_name" />
        <result property="graduateYear" column="graduate_year" />
        <result property="status" column="status" />
        <result property="isDel" column="is_Del" />

        <association property="schoolBean" javaType="com.weclubs.bean.WCSchoolBean">
            <id property="schoolId" column="school_idid" />
            <result property="name" column="name" />
            <result property="parentId" column="parent_id" />
            <result property="isDel" column="is_del" />

            <association property="parentSchoolBean" javaType="com.weclubs.bean.WCSchoolBean">
                <id property="schoolId" column="school_id" />
                <result property="name" column="name" />
                <result property="parentId" column="parent_id" />
                <result property="isDel" column="is_del" />
            </association>
        </association>
    </resultMap>

    <!-- 根据社团 id 查找社团信息 -->
    <select id="getClubById" resultMap="clubWithSchoolMap">
        SELECT * FROM `T_CLUB`
        WHERE `CLUB_ID` = #{clubId};
    </select>

    <!-- 查找审核通过的所有社团 -->
    <select id="getClubsBySchoolId" resultType="List" resultMap="clubMap">
        SELECT * FROM `T_CLUB` club, `T_SCHOOL` school
        WHERE school.`SCHOOL_ID` = #{schoolId}
        AND club.`SCHOOL_ID` = school.`school_id`
        AND club.`STATUS` = 1;
    </select>

    <!-- 根据学生 id 查找该学生当前加入的所有社团实体列表 -->
    <select id="getClubsByStudentId" resultType="List" resultMap="clubMap">
        SELECT * FROM `T_CLUB` club, `T_STUDENT_CLUB_GRADUATE_RELATION` student_club,
        `T_CLUB_GRADUATE` club_graduate
        WHERE student_club.`STUDENT_ID` = #{studentId}
        AND club_graduate.`club_id` = club.`club_id`
        AND club_graduate.`is_current` = 1
        AND club_graduate.`graduate_id` = student_club.`graduate_id`
        AND student_club.`is_del` = 0
        AND club.`STATUS` = 1;
    </select>

    <!-- 创建社团实体 -->
    <insert id="createClub" useGeneratedKeys="true" keyProperty="id" parameterType="com.weclubs.bean.WCClubBean">
        INSERT INTO T_CLUB(`SCHOOL_ID`, `NAME`, `INTRODUCTION`, `AVATAR_URL`,
         `IS_AUTH`, `LEVEL`, `STATUS`, `CHECK_COUNT`)
        VALUES (#{schoolId}, #{name}, #{introduction}, #{avatarUrl},
         #{isAuth}, #{level}, #{status}, #{checkCount});
    </insert>

    <!-- 更新社团实体信息 -->
    <update id="updateClub" parameterType="com.weclubs.bean.WCClubBean">
        UPDATE `T_STUDENT`
        SET `SCHOOL_ID` = #{schoolId}, `NAME` = #{name}, `INTRODUCTION` = #{introduction},
         `AVATAR_URL` = #{avatarUrl}, `IS_AUTH` = #{isAuth}, `LEVEL` = #{level},
         `STATUS` = #{status}, `CHECK_COUNT` = #{checkCount}
        WHERE `club_id` = #{clubId};
    </update>

    <!-- 根据社团 clubId 查找此社团当前届数的所有学生 -->
    <select id="getCurrentGraduateStudents" resultType="studentWithSchoolMap">
        SELECT *
        FROM `t_student` student, `t_club_graduate` club_graduate, `t_student_club_graduate_relation` stu_clu_relation
        WHERE stu_clu_relation.`student_id` = student.`student_id`
        AND stu_clu_relation.`graduate_id` = club_graduate.`graduate_id`
        AND club_graduate.`is_current` = 1
        AND club_graduate.`club_id` = #{clubId};
    </select>

</mapper>