<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weclubs.mapper.WCClubMapper">

    <!-- 社团实体映射 map，不包含学校信息 -->
    <resultMap id="clubMap" type="com.weclubs.bean.WCClubBean">
        <id property="clubId" column="club_id" />
        <result property="schoolId" column="school_id" />
        <result property="name" column="name" />
        <result property="introduction" column="introduction" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="isAuth" column="is_auth" />
        <result property="level" column="level" />
        <result property="status" column="status" />
        <result property="checkCount" column="check_count" />
    </resultMap>

    <!-- 社团实体映射 map，包含学校信息 -->
    <resultMap id="clubWithSchoolMap" type="com.weclubs.bean.WCClubBean">
        <id property="clubId" column="club_id" />
        <result property="schoolId" column="school_id" />
        <result property="name" column="name" />
        <result property="introduction" column="introduction" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="isAuth" column="is_auth" />
        <result property="level" column="level" />
        <result property="status" column="status" />
        <result property="checkCount" column="check_count" />

        <association property="schoolBean" javaType="com.weclubs.bean.WCSchoolBean">
            <id property="schoolId" column="school_id" />
            <result property="name" column="name" />
            <result property="parentId" column="parent_id" />
            <result property="isDel" column="is_del" />

            <association property="parentSchoolBean" javaType="com.weclubs.bean.WCSchoolBean">
                <id property="schoolId" column="school_id" />
                <result property="name" column="name" />
                <result property="parentId" column="parent_id" />
                <result property="isDel" column="is_del" />
            </association>
        </association>
    </resultMap>

    <!-- 学生实体映射 map，包含学校信息 -->
    <resultMap id="clubStudentMap" type="com.weclubs.bean.WCClubStudentBean">
        <id property="studentId" column="student_id" />
        <result property="schoolId" column="school_id" />
        <result property="mobile" column="mobile" />
        <result property="nickName" column="nick_name" />
        <result property="realName" column="real_name" />
        <result property="password" column="password" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="birthday" column="birthday" />
        <result property="className" column="class_name" />
        <result property="graduateYear" column="graduate_year" />
        <result property="status" column="status" />
        <result property="isDel" column="is_Del" />

        <result property="departmentId" column="department_id" />
        <result property="jobId" column="jobId" />

        <association property="schoolBean" javaType="com.weclubs.bean.WCSchoolBean">
            <id property="schoolId" column="school_id" />
            <result property="name" column="name" />
            <result property="parentId" column="parent_id" />
            <result property="isDel" column="is_del" />
        </association>

        <association property="departmentBean" javaType="com.weclubs.bean.WCClubDepartmentBean">
            <id property="departmentId" column="department_id" />
            <result property="departmentName" column="department_name" />
        </association>

        <association property="jobBean" javaType="com.weclubs.bean.WCClubJobBean">
            <id property="jobId" column="job_id" />
            <result property="jobName" column="job_name" />
        </association>
    </resultMap>

    <resultMap id="manageClubMap" type="com.weclubs.model.WCManageClubModel">
        <id property="clubId" column="club_id" />
        <result property="clubName" column="club_name" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="level" column="level" />
        <result property="introduction" column="introduction" />
        <result property="slogan" column="slogan" />

        <result property="departments" column="departments" />
        <result property="jobs" column="jobs" />

        <result property="isSuperAdmin" column="super_admin" />

        <result property="myDepartment" column="department_id" />
        <result property="myJob" column="job_id" />

        <result property="memberCount" column="member_count" />
        <result property="honorCount" column="honor_count" />
    </resultMap>

    <!-- 根据社团 id 查找社团信息 -->
    <select id="getClubById" resultMap="clubWithSchoolMap">
        SELECT * FROM `T_CLUB`
        WHERE `CLUB_ID` = #{clubId}
    </select>

    <!-- 查找审核通过的所有社团 -->
    <select id="getClubsBySchoolId" resultType="List" resultMap="clubMap">
        SELECT * FROM `T_CLUB` club, `T_SCHOOL` school
        WHERE school.`SCHOOL_ID` = #{schoolId}
        AND club.`SCHOOL_ID` = school.`school_id`
        AND club.`STATUS` = 1
    </select>

    <!-- 根据学生 id 查找该学生当前加入的所有社团实体列表 -->
    <select id="getClubsByStudentId" resultType="List" resultMap="clubMap">
        SELECT * FROM `T_CLUB` club, `T_STUDENT_CLUB_GRADUATE_RELATION` student_club,
        `T_CLUB_GRADUATE` club_graduate
        WHERE student_club.`STUDENT_ID` = #{studentId}
        AND club_graduate.`club_id` = club.`club_id`
        AND club_graduate.`is_current` = 1
        AND club_graduate.`club_graduate_id` = student_club.`graduate_id`
        AND student_club.`is_del` = 0
        AND club.`STATUS` = 1
    </select>

    <!-- 创建社团实体 -->
    <insert id="createClub" useGeneratedKeys="true" keyProperty="clubId" parameterType="com.weclubs.bean.WCClubBean">
        INSERT INTO T_CLUB(`SCHOOL_ID`, `NAME`, `INTRODUCTION`, `AVATAR_URL`,
         `IS_AUTH`, `LEVEL`, `STATUS`, `CHECK_COUNT`)
        VALUES (#{schoolId}, #{name}, #{introduction}, #{avatarUrl},
         #{isAuth}, #{level}, #{status}, #{checkCount})
    </insert>

    <!-- 更新社团实体信息 -->
    <update id="updateClub" parameterType="com.weclubs.bean.WCClubBean">
        UPDATE `T_STUDENT`
        SET `SCHOOL_ID` = #{schoolId}, `NAME` = #{name}, `INTRODUCTION` = #{introduction},
         `AVATAR_URL` = #{avatarUrl}, `IS_AUTH` = #{isAuth}, `LEVEL` = #{level},
         `STATUS` = #{status}, `CHECK_COUNT` = #{checkCount}
        WHERE `club_id` = #{clubId}
    </update>

    <!-- 根据社团 clubId 查找此社团当前届数的所有学生 -->
    <select id="getCurrentGraduateStudents" resultMap="clubStudentMap">
        SELECT *
        FROM `t_student` student, `t_club_graduate` club_graduate,
         `t_student_club_graduate_relation` stu_clu_relation, `t_club_department` department, `t_club_job` job,
         `t_school` school
        WHERE stu_clu_relation.`student_id` = student.`student_id`
        AND stu_clu_relation.`graduate_id` = club_graduate.`club_graduate_id`
        AND club_graduate.`is_current` = 1
        AND club_graduate.`club_id` = #{clubId}
        AND stu_clu_relation.`department_id` = department.`department_id`
        AND stu_clu_relation.`job_id` = job.`job_id`
        AND student.`school_id` = school.`school_id`
        AND department.`is_del` = 0
        AND job.`is_del` = 0
        AND school.`is_del` = 0
    </select>

    <!-- 根据社团 clubId 查找根据学生的姓名进行首字母拼音排序 -->
    <select id="getCurrentGraduateStudentsBySortStuName" resultMap="clubStudentMap">
        SELECT *
        FROM `t_student` student, `t_club_graduate` club_graduate,
         `t_student_club_graduate_relation` stu_clu_relation, `t_club_department` department, `t_club_job` job,
         `t_school` school
        WHERE stu_clu_relation.`student_id` = student.`student_id`
        AND stu_clu_relation.`graduate_id` = club_graduate.`club_graduate_id`
        AND club_graduate.`is_current` = 1
        AND club_graduate.`club_id` = #{clubId}
        AND stu_clu_relation.`department_id` = department.`department_id`
        AND stu_clu_relation.`job_id` = job.`job_id`
        AND student.`school_id` = school.`school_id`
        AND department.`is_del` = 0
        AND job.`is_del` = 0
        AND school.`is_del` = 0
        ORDER BY convert(student.`real_name` USING utf8)
        COLLATE utf8_bin
        ASC
    </select>

    <select id="getClubMemberCount" resultType="long">
        SELECT count(student.student_id) AS `count_num`
        FROM `t_student` student, `t_student_club_graduate_relation` stu_clu_gra_relation,
        `t_club_graduate` club_graudate
        WHERE student.`student_id` = stu_clu_gra_relation.`student_id`
        AND stu_clu_gra_relation.`status` = 1 -- 在职的社团成员
        AND stu_clu_gra_relation.`graduate_id` = club_graudate.`club_graduate_id`
        AND stu_clu_gra_relation.`is_del` = 0 -- 不是被删除的个人
        AND club_graudate.`is_current` = 1  -- 社团当前届
        AND club_graudate.`club_id` = #{clubId}
    </select>

    <select id="getClubActivityCount" resultType="long">
        SELECT count(club_activity.`club_activity_id`) AS `count_num`
        FROM `t_club_activity` club_activity
        WHERE club_activity.`club_id` = #{clubId}
        AND club_activity.`is_del` = 0
    </select>

    <select id="getMyManageCurrentGraClub" resultMap="manageClubMap" resultType="list" >
        SELECT club.`club_id`, club.`name` AS `club_name`, club.`avatar_url`, club.`level`, club.`introduction`,
        club.`slogan`, club_graduate.`departments`, club_graduate.`jobs`, stu_clu_gra_relation.`department_id`,
        stu_clu_gra_relation.`job_id`, stu_clu_gra_relation.`super_admin`
        FROM `t_club` club, `t_club_graduate` club_graduate, `t_student_club_graduate_relation` stu_clu_gra_relation
        WHERE club_graduate.`is_current` = 1
        AND club_graduate.`club_id` = club.`club_id`
        AND club_graduate.`club_graduate_id` = stu_clu_gra_relation.`graduate_id`
        AND stu_clu_gra_relation.`status` = 1
        AND stu_clu_gra_relation.`student_id` = #{studentId}
    </select>

</mapper>