<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weclubs.mapper.WCClubActivityMapper">

    <resultMap id="activityBeanMap" type="com.weclubs.bean.WCClubActivityBean">
        <id property="clubActivityId" column="club_activity_id" />
        <result property="name" column="activity_name" />
        <result property="attribution" column="attribution" />
        <result property="activityType" column="activity_type" />
        <result property="needSign" column="need_sign" />
        <result property="address" column="address" />
        <result property="posterUrl" column="poster_url" />
        <result property="holdDate" column="hold_date" />
        <result property="holdDeadline" column="hold_deadline" />
        <result property="allowApply" column="allow_apply" />
        <result property="allowPreApply" column="allow_pre_apply" />
        <result property="applyDeadline" column="apply_deadline" />
        <result property="sponsorId" column="sponsor_id" />
        <result property="createDate" column="create_date" />

        <result property="clubId" column="club_id" />

        <result property="isDel" column="is_del" />

        <association property="clubBean" javaType="com.weclubs.bean.WCClubBean">
            <id property="clubId" column="club_id" />
            <id property="name" column="club_name" />
            <id property="introduction" column="introduction" />
            <id property="slogan" column="slogan" />
            <id property="avatarUrl" column="avatar_url" />
        </association>
    </resultMap>

    <resultMap id="activityBaseMap" type="com.weclubs.model.WCActivityDetailBaseModel">
        <id property="activityId" column="activity_id" />
        <result property="activityName" column="activity_name" />
        <result property="attribution" column="attribution" />
        <result property="posterUrl" column="poster_url" />
        <result property="address" column="address" />
        <result property="allowApply" column="allow_apply" />
        <result property="allowPreApply" column="allow_pre_apply" />
        <result property="applyDeadline" column="apply_deadline" />
        <result property="holdDate" column="hold_date" />
        <result property="holdDeadline" column="hold_deadline" />
        <result property="activityType" column="activity_type" />

        <result property="clubId" column="club_id" />
        <result property="clubName" column="club_name" />
        <result property="clubAvatar" column="club_avatar" />

        <result property="commentCount" column="comment_count" />

        <result property="isDel" column="is_del" />
    </resultMap>

    <resultMap id="studentRelationMap" type="com.weclubs.bean.WCStudentActivityRelationBean">
        <id property="stuActRelId" column="stu_act_rel_id" />
        <result property="activityId" column="activity_id" />
        <result property="studentId" column="student_id" />
        <result property="isApply" column="is_apply" />
        <result property="isSign" column="is_sign" />
        <result property="isDel" column="is_del" />
        <result property="createDate" column="create_date" />
        <result property="signDate" column="sign_date" />
        <result property="applyDate" column="apply_date" />

        <association property="studentBean" javaType="com.weclubs.bean.WCStudentBean">
            <id property="studentId" column="student_id" />
            <result property="realName" column="real_name" />
            <result property="avatarUrl" column="avatar_url" />
            <result property="mobile" column="mobile" />
        </association>
    </resultMap>
    
    <select id="getActivitiesByCurrentClubId" resultMap="activityBaseMap" resultType="list" >
        SELECT activity.`club_activity_id` AS `activity_id`, activity.`name` AS `activity_name`, activity.`attribution`,
        activity.`poster_url`,  activity.`address`, activity.`allow_apply`, activity.`allow_pre_apply`,
        activity.`apply_deadline`, activity.`hold_date`, activity.`hold_deadline`, activity.`is_del`, activity.`activity_type`,
        club.`club_id`, club.`name` AS `club_name`, club.`avatar_url` AS `club_avatar`
        FROM `t_club_activity` activity, `t_club` club
        WHERE activity.`club_id` = club.`club_id`
        AND activity.`club_id` = #{clubId}
    </select>

    <select id="getActivityDetail" resultMap="activityBaseMap" resultType="com.weclubs.model.WCActivityDetailBaseModel">
        SELECT activity.`club_activity_id` AS `activity_id`, activity.`name` AS `activity_name`, activity.`attribution`,
        activity.`poster_url`,  activity.`address`, activity.`allow_apply`, activity.`allow_pre_apply`,
        activity.`apply_deadline`, activity.`hold_date`, activity.`hold_deadline`, activity.`is_del`, activity.`activity_type`,
        club.`club_id`, club.`name` AS `club_name`, club.`avatar_url` AS `club_avatar`
        FROM `t_club_activity` activity, `t_club` club
        WHERE activity.`club_id` = club.`club_id`
        AND activity.`club_id` = activity.`club_id`
        AND activity.`club_activity_id` = #{activityId}
    </select>

    <select id="getActivitiesBySponsorId" resultMap="activityBaseMap" resultType="list" >
        SELECT activity.`club_activity_id` AS `activity_id`, activity.`name` AS `activity_name`, activity.`attribution`,
        activity.`poster_url`,  activity.`address`, activity.`allow_apply`, activity.`allow_pre_apply`,
        activity.`apply_deadline`, activity.`hold_date`, activity.`hold_deadline`, activity.`is_del`, activity.`activity_type`,
        club.`club_id`, club.`name` AS `club_name`, club.`avatar_url` AS `club_avatar`
        FROM `t_club_activity` activity, `t_club` club
        WHERE activity.`club_id` = club.`club_id`
        AND activity.`sponsor_id` = #{sponsorId}
    </select>

    <insert id="createActivity" useGeneratedKeys="true" keyProperty="clubActivityId" parameterType="List" >
        INSERT INTO `t_club_activity`
        (
        `name`, `attribution`, `address`, `hold_date`, `hold_deadline`, `poster_url`, `need_sign`, `activity_type`,
        `allow_pre_apply`, `apply_deadline`, `club_id`, `sponsor_id`, `create_date`
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.name}, #{item.attribution}, #{item.address}, #{item.holdDate}, #{item.holdDeadline}, #{item.posterUrl},
            #{item.needSign}, #{item.activityType}, #{item.allowPreApply}, #{item.applyDeadline}, #{item.clubId},
            #{item.sponsorId}, #{item.createDate}
            )
        </foreach>
    </insert>

    <insert id="createStudentActivityRelation" useGeneratedKeys="true" keyProperty="stuActRelId" parameterType="List" >
        INSERT INTO `t_student_activity_relation`
        (
        `activity_id`, `student_id`
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.activityId}, #{item.studentId}
            )
        </foreach>
    </insert>

    <select id="getActivityRelationList" resultMap="studentRelationMap">
        SELECT student.`student_id`, student.`real_name`, student.`avatar_url`, student.`mobile`,
        relaiton.`stu_act_rel_id`, relaiton.`activity_id`, relaiton.`is_apply`, relaiton.`is_sign`, relaiton.`is_del`,
        relaiton.`create_date`, relaiton.`sign_date`, relaiton.`apply_date`
        FROM `t_student` student, `t_student_activity_relation` relaiton
        WHERE student.`student_id` = relaiton.`student_id`
        AND relaiton.`activity_id` = #{activityId}
        AND relaiton.`is_del` = 0
    </select>

    <select id="getActivityByActivityId" resultMap="activityBeanMap">
        SELECT activity.`club_activity_id`, activity.`name` AS `activity_name`, activity.`attribution`,
        activity.`activity_type`, activity.`need_sign`, activity.`address`, activity.`poster_url`, activity.`hold_date`,
        activity.`hold_deadline`, activity.`allow_apply`, activity.`allow_pre_apply`, activity.`apply_deadline`,
        activity.`sponsor_id`, activity.`create_date`, activity.`is_del`,
        club.`club_id`, club.`name` AS `club_name`, club.`avatar_url`, club.`introduction`, club.`slogan`
        FROM `t_club_activity` activity, `t_club` club
        WHERE activity.`club_id` = club.`club_id`
        AND activity.`club_activity_id` = #{activityId}
    </select>

    <update id="updateActivity" parameterType="com.weclubs.bean.WCClubActivityBean">
        UPDATE `t_club_activity`
        SET `name` = #{name}, `attribution` = #{attribution}, `address` = #{address}, `hold_date` = #{holdDate},
        `hold_deadline` = #{holdDeadline}, `poster_url` = #{posterUrl}, `need_sign` = #{needSign},
        `allow_pre_apply` = #{allowPreApply}, `apply_deadline` = #{applyDeadline}
        WHERE `club_activity_id` = #{clubActivityId}
    </update>

</mapper>