<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weclubs.mapper.WCClubMissionMapper">

    <!-- 社团任务实体映射 map -->
    <resultMap id="clubMissionMap" type="com.weclubs.bean.WCClubMissionBean">
        <id property="missionId" column="mission_id" />
        <result property="clubId" column="club_id" />
        <result property="attribution" column="attribution" />
        <result property="type" column="type" />
        <result property="parentId" column="parentId" />
        <result property="address" column="address" />
        <result property="deadline" column="deadline" />
        <result property="sponsorId" column="sponsor_id" />
        <result property="createDate" column="create_date" />
        <result property="isDel" column="is_del" />

        <association property="clubBean" javaType="com.weclubs.bean.WCClubBean">
            <id property="clubId" column="club_id" />
            <result property="schoolId" column="school_id" />
            <result property="name" column="name" />
            <result property="introduction" column="introduction" />
            <result property="avatarUrl" column="avatar_url" />
            <result property="isAuth" column="is_auth" />
            <result property="level" column="level" />
            <result property="status" column="status" />
            <result property="checkCount" column="check_count" />
        </association>
    </resultMap>

    <resultMap id="studentMissionMap" type="com.weclubs.bean.WCStudentMissionRelationBean">
        <id property="stuMisRelId" column="stu_mis_rel_id" />
        <result property="studentId" column="student_id" />
        <result property="missionId" column="mission_id" />
        <result property="status" column="status" />
        <result property="comment" column="comment" />
        <result property="createDate" column="create_date" />
        <result property="isDel" column="is_del" />

        <association property="clubMissionBean" javaType="com.weclubs.bean.WCClubMissionBean">
            <id property="missionId" column="mission_id" />
            <result property="clubId" column="club_id" />
            <result property="attribution" column="attribution" />
            <result property="type" column="get_date" />
            <result property="parentId" column="is_del" />
            <result property="address" column="address" />
            <result property="deadline" column="deadline" />
            <result property="sponsorId" column="sponsor_id" />
            <result property="createDate" column="create_date" />
            <result property="isDel" column="is_del" />
        </association>
    </resultMap>

    <resultMap id="missionRelationWithStudentMap" extends="studentMissionMap" type="com.weclubs.bean.WCStudentMissionRelationBean">

        <result property="childMissionCount" column="child_mission_count" />

        <association property="studentBean" javaType="com.weclubs.bean.WCStudentBean">
            <id property="studentId" column="student_id" />
            <result property="mobile" column="mobile" />
            <result property="realName" column="real_name" />
            <result property="nickName" column="nick_name" />
            <result property="avatarUrl" column="avatar_url" />
        </association>
    </resultMap>

    <!-- 学生实体映射 map，不包含学校信息 -->
    <resultMap id="studentMap" type="com.weclubs.bean.WCStudentBean">
        <id property="studentId" column="student_id" />
        <result property="mobile" column="mobile" />
        <result property="nickName" column="nick_name" />
        <result property="realName" column="real_name" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="status" column="status" />
        <result property="isDel" column="is_Del" />
    </resultMap>

    <resultMap id="childMissionDetailMap" type="com.weclubs.model.WCMissionBaseModel">
        <id property="missionId" column="mission_id" />
        <result property="attribution" column="attribution" />
        <result property="address" column="address" />
        <result property="createDate" column="create_date" />
        <result property="deadline" column="deadline" />
        <result property="type" column="type" />
        <result property="status" column="status" />
        <result property="studentId" column="student_id" />
        <result property="studentName" column="student_name" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="clubId" column="club_id" />
        <result property="parentId" column="parent_id" />
        <result property="childCount" column="child_count" />
        <result property="isDel" column="is_del" />
    </resultMap>

    <resultMap id="sponsorMissionMap" extends="childMissionDetailMap" type="com.weclubs.model.WCSponsorMissionModel">
        <result property="clubName" column="club_name" />
        <result property="clubAvatar" column="club_avatar" />

        <result property="unConfirmCount" column="unconfirm_count" />
        <result property="unFinishCount" column="unfinish_count" />
    </resultMap>

    <!-- 创建社团任务实体 -->
    <insert id="createClubMission" useGeneratedKeys="true" keyProperty="missionId" parameterType="List">
        INSERT INTO `t_club_mission`
        (`club_id`, `attribution`, `type`, `parent_id`, `address`, `deadline`, `is_del`, `sponsor_id`, `create_date`,
        `graduate_id`)
        VALUES
        <foreach collection="list" index="index" item="item">
            (
            #{item.clubId}, #{item.attribution}, 1, #{item.parentId}, #{item.address},
            #{item.deadline}, 0, #{item.sponsorId}, #{item.createDate}, #{item.graduateId}
            )
        </foreach>
    </insert>

    <!-- 更新社团任务对象 -->
    <update id="updateClubMission" parameterType="com.weclubs.bean.WCClubMissionBean">
        UPDATE `t_club_mission`
        SET `attribution` = #{attribution}, `address` = #{address}, `deadline` = #{deadline}
        WHERE `mission_id` = #{missionId}
    </update>

    <!-- 根据 id 删除社团任务实体对象，实际是将 is_del 设置为 1 -->
    <update id="deleteClubMissionById">
        UPDATE `t_club_mission`
        SET `is_del` = 1
        WHERE `mission_id` = #{clubMissionId}
        AND club_mission.`type` = 1
    </update>

    <!-- 根据社团任务 clubMissionId 获取社团任务 -->
    <select id="getClubMissionById" resultMap="clubMissionMap">
        SELECT *
        FROM `t_club_mission` mission, `t_club` club
        WHERE mission.`mission_id` = #{clubMissionId}
        AND club.`club_id` = mission.`club_id`
        AND `TYPE` = 1
        AND `IS_DEL` = 0
    </select>

    <!-- 根据社团 clubId 获取该社团的所有删除的任务 -->
    <select id="getClubMissionsByClubId" resultMap="clubMissionMap" resultType="List">
        SELECT *
        FROM `t_club_mission` club_mission, `t_club` club
        WHERE club_mission.`club_id` = club.`club_id`
        AND club_mission.`is_del` = 0
        AND club_mission.`type` = 1
        AND club.`club_id` = #{clubId}
    </select>

    <!-- 根据 studentId 获取该学生的所有未删除的任务 -->
    <select id="getClubMissionsByStudentId" resultMap="studentMissionMap" resultType="List">
        SELECT *
        FROM `t_club_mission` club_mission, `t_student_mission_relation` student_mission
        WHERE club_mission.`mission_id` = student_mission.`mission_id`
        AND club_mission.`is_del` = 0
        AND student_mission.`is_del` = 0
        AND club_mission.`type` = 1
        AND student_mission.`student_id` = #{studentId}
        AND club_mission.`club_id` = #{clubId}
    </select>

    <!-- 根据 studentId 获取该学生的所有未确认且未删除的任务 -->
    <select id="getUnConfirmClubMissionsByStudentId" resultMap="studentMissionMap" resultType="List">
        SELECT *
        FROM `t_club_mission` club_mission, `t_student_mission_relation` student_mission
        WHERE club_mission.`mission_id` = student_mission.`mission_id`
        AND club_mission.`is_del` = 0
        AND student_mission.`is_del` = 0
        AND club_mission.`type` = 1
        AND student_mission.`status` = 0
        AND student_mission.`student_id` = #{studentId}
    </select>

    <!-- 根据 schoolId 获取该校的所有未删除的任务 -->
    <select id="getClubMissionsBySchoolId" resultMap="clubMissionMap" resultType="List">
        SELECT *
        FROM `t_club_mission` club_mission, `t_school` school, `t_club` club
        WHERE club_mission.`club_id` = club.`club_id`
        AND club.`school_id` = school.`school_id`
        AND club_mission.`is_del` = 0
        AND club_mission.`type` = 1
        AND school.`school_id` = #{schoolId}
    </select>

    <update id="changeClubMissionStatus">
        UPDATE `t_club_mission`
        SET `status` = #{status}
        WHERE `mission_id` = #{clubMissionId}
        AND club_mission.`type` = 1
    </update>

    <select id="getChildMissionsByMissionId" resultMap="clubMissionMap" resultType="list">
        SELECT *
        FROM `t_club_mission`
        WHERE `parent_id` = #{missionId}
        AND `is_del` = 0
    </select>

    <select id="getClubMissionParticipantByMissionId" resultMap="studentMap" resultType="list">
        SELECT student.`student_id`, student.`mobile`, student.`nick_name`, student.`real_name`,
         student.`avatar_url`, student.`status`, student.`is_del`
        FROM `t_student` student, `t_student_mission_relation` student_mission
        WHERE student_mission.`student_id` = student.`student_id`
        AND student_mission.`is_del` = 0
        AND student_mission.`mission_id` = #{missionId}
    </select>

    <select id="getChildMissionDetailListByMissionIdWithStudent" resultMap="childMissionDetailMap" resultType="list">
        SELECT student.`student_id`, student.`real_name` AS `student_name`, student.`avatar_url`,
         miss.`mission_id`, miss.`attribution`, miss.`address`, miss.`create_date`, miss.`deadline`, miss.`type`,
          miss.`club_id`, miss.`parent_id`, relation.`status`, miss.`is_del`,
        (SELECT COUNT(*) FROM `t_student_mission_relation` relation, `t_club_mission` mission
         WHERE relation.`mission_id` = mission.`mission_id`
         AND mission.`parent_id` = miss.`mission_id`)
        AS child_count
        FROM `t_student` student, `t_club_mission` miss, `t_student_mission_relation` relation
--         WHERE student.`student_id` = relation.`student_id`
        WHERE miss.`mission_id` = relation.`mission_id`
        AND miss.`parent_id` = #{missionId}
        AND student.`student_id` = #{studentId}
        AND relation.`is_del` = 0
        GROUP BY miss.`mission_id`
    </select>

    <select id="getMissionsBySponsorId" resultMap="sponsorMissionMap" resultType="list">
        SELECT student.`student_id`, student.`real_name` AS `student_name`, student.`avatar_url`,
         miss.`mission_id`, miss.`attribution`, miss.`address`, miss.`create_date`, miss.`deadline`, miss.`type`,
          miss.`club_id`, miss.`parent_id`, relation.`status`, club.`name` AS `club_name`, club.`avatar_url` AS `club_avatar`,
        (SELECT COUNT(*) FROM `t_student_mission_relation` relation, `t_club_mission` mission
         WHERE relation.`mission_id` = mission.`mission_id`
         AND mission.`parent_id` = miss.`mission_id`) AS `child_count`,
        (SELECT COUNT(*) FROM `t_student_mission_relation` relation, `t_club_mission` mission
        WHERE relation.`mission_id` = mission.`mission_id`
        AND mission.`parent_id` = miss.`mission_id`
        AND relation.`status` = 0) AS `uncofirm_count`,
        (SELECT COUNT(*) FROM `t_student_mission_relation` relation, `t_club_mission` mission
        WHERE relation.`mission_id` = mission.`mission_id`
        AND mission.`parent_id` = miss.`mission_id`
        AND relation.`status` != 2) AS `unfinish_count`
        FROM `t_student` student, `t_club_mission` miss, `t_student_mission_relation` relation, `t_club` club
        WHERE miss.`mission_id` = relation.`mission_id`
        AND miss.`sponsor_id` = #{sponsorId}
        AND miss.`parent_id` = 0
        AND relation.`is_del` = 0
        AND miss.`type` = 1
        GROUP BY miss.`mission_id`
    </select>

    <insert id="createStudentRelation" parameterType="List">
        INSERT INTO `t_student_mission_relation`
        (`mission_id`, `student_id`, `create_date`, `status`, `is_del`, `is_leader`, `is_sign`)
        VALUES
        <foreach collection="relations" index="index" item="item" separator=",">
            (
            #{item.missionId}, #{item.studentId}, #{item.createDate}, 0, 0, #{item.isLeader}, 0
            )
        </foreach>
    </insert>

    <select id="getMissionRelationsByMissionId" resultMap="missionRelationWithStudentMap">
        SELECT relation.`mission_id`, relation.`status`, relation.`comment`, relation.`create_date`, relation.`is_del`,
        student.`student_id`, student.`mobile`, student.`real_name`, student.`nick_name`, student.`avatar_url`,
        (SELECT COUNT(*) FROM `t_club_mission` WHERE `parent_id` = relation.`mission_id` AND `sponsor_id` = student.`student_id`) AS `child_mission_count`
        FROM `t_student_mission_relation` relation, `t_student` student
        WHERE relation.`student_id` = student.`student_id`
        AND relation.`mission_id` = #{missionId}
        AND relation.`is_del` = 0
    </select>

    <select id="getUnConfirmClubMissionsByMissionId" resultMap="missionRelationWithStudentMap" resultType="list">
        SELECT *
        FROM `t_student_mission_relation` relation, `t_club_mission` club_mission
        WHERE club_mission.`is_del` = 0
        AND club_mission.`type` = 1
        AND club_mission.`mission_id` = #{missionId}
        AND club_mission.`mission_id` = relation.`mission_id`
        AND relation.`status` = 0
        AND relation.`is_del` = 0
    </select>

    <select id="getUnFinishClubMissionsByMissionId" resultMap="missionRelationWithStudentMap" resultType="list">
        SELECT *
        FROM `t_student_mission_relation` relation, `t_club_mission` club_mission
        WHERE club_mission.`is_del` = 0
        AND club_mission.`type` = 1
        AND club_mission.`mission_id` = #{missionId}
        AND club_mission.`mission_id` = relation.`mission_id`
        AND relation.`status` &lt; 2
        AND relation.`is_del` = 0
    </select>

</mapper>