<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weclubs.mapper.WCCommentMapper">

    <resultMap id="commentMap" type="com.weclubs.model.WCCommentDetailModel">
        <id property="commentId" column="comment_id" />
        <result property="content" column="content" />
        <result property="createDate" column="create_date" />
        <result property="sourceType" column="source_type" />
        <result property="sourceId" column="source_id" />
        <result property="status" column="status" />

        <result property="studentId" column="student_id" />
        <result property="studentName" column="student_name" />
        <result property="studentAvatar" column="avatar_url" />
    </resultMap>
    
    <select id="getCommentListById" resultMap="commentMap" resultType="list" >
        SELECT comment.`comment_id`, comment.`content`, comment.`create_date`, comment.`status`, comment.`is_del`,
        comment.`source_type`, comment.`source_id`,
        student.`student_id`, student.`real_name` AS `student_name`, student.`avatar_url`
        FROM `t_comment` comment, `t_student` student
        WHERE student.`student_id` = comment.`student_id`
        AND comment.`source_type` = #{sourceType}
        AND comment.`source_id` = #{sourceId}
        AND comment.`is_del` = 0
    </select>

    <insert id="createComment" useGeneratedKeys="true" keyProperty="clubAuthorityId" parameterType="com.weclubs.bean.WCClubAuthorityBean">
        INSERT INTO `t_comment`(`content`, `create_date`, `status`, `source_type`, `source_id`)
        VALUES (#{content}, #{createDate}, #{status}, #{sourceType}, #{sourceId})
    </insert>

</mapper>