<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weclubs.mapper.WCNotificationMapper">

    <!-- 社团任务实体映射 map -->
    <resultMap id="notificationMap" type="com.weclubs.bean.WCClubMissionBean">
        <id property="missionId" column="mission_id" />
        <result property="clubId" column="club_id" />
        <result property="attribution" column="attribution" />
        <result property="graduateId" column="graduate_id" />
        <result property="type" column="type" />
        <result property="parentId" column="parentId" />
        <result property="address" column="address" />
        <result property="deadline" column="deadline" />
        <result property="sponsorId" column="sponsor_id" />
        <result property="createDate" column="create_date" />
        <result property="isDel" column="is_del" />

        <association property="clubBean" javaType="com.weclubs.bean.WCClubBean">
            <id property="clubId" column="club_id" />
            <result property="schoolId" column="school_id" />
            <result property="name" column="name" />
            <result property="introduction" column="introduction" />
            <result property="avatarUrl" column="avatar_url" />
            <result property="isAuth" column="is_auth" />
            <result property="level" column="level" />
            <result property="status" column="status" />
            <result property="checkCount" column="check_count" />
        </association>
    </resultMap>

    <resultMap id="studentNotificationMap" type="com.weclubs.bean.WCStudentMissionRelationBean">
        <id property="stuMisRelId" column="stu_mis_rel_id" />
        <result property="studentId" column="student_id" />
        <result property="missionId" column="mission_id" />
        <result property="status" column="status" />
        <result property="comment" column="comment" />
        <result property="createDate" column="create_date" />
        <result property="isDel" column="is_del" />

        <association property="clubMissionBean" javaType="com.weclubs.bean.WCClubMissionBean">
            <id property="missionId" column="mission_id" />
            <result property="clubId" column="club_id" />
            <result property="attribution" column="attribution" />
            <result property="type" column="get_date" />
            <result property="parentId" column="is_del" />
            <result property="address" column="address" />
            <result property="deadline" column="deadline" />
            <result property="sponsorId" column="sponsor_id" />
            <result property="createDate" column="create_date" />
            <result property="isDel" column="is_del" />
        </association>
    </resultMap>

    <resultMap id="sponsorNotifyMap" extends="notificationMap" type="com.weclubs.model.WCSponsorNotifyModel">
        <result property="unreadCount" column="unread_count" />
        <result property="totalCount" column="total_count" />
    </resultMap>

    <!-- 创建通知实体 -->
    <insert id="createNotification" keyProperty="missionId" useGeneratedKeys="true" parameterType="com.weclubs.bean.WCClubMissionBean">
        INSERT INTO T_CLUB_MISSION(`CLUB_ID`, `ATTRIBUTION`, `TYPE`, `graduate_id`, `sponsor_id`,
         `PARENT_ID`, `ADDRESS`, `create_date`, `deadline`, `IS_DEL`)
        VALUES (#{clubId}, #{attribution}, #{type}, #{graduateId}, #{sponsorId},
         #{parentId}, #{address}, #{createDate}, #{deadline}, #{isDel})
    </insert>

    <!-- 更新通知对象 -->
    <update id="updateNotification" parameterType="com.weclubs.bean.WCClubMissionBean">
        UPDATE `T_CLUB_MISSION`
        SET `ATTRIBUTION` = #{attribution}, `ADDRESS` = #{address}, `DEADLINE` = #{deadline}
        WHERE `mission_id` = #{missionId}
    </update>

    <!-- 根据 id 删除通知实体对象，实际是将 is_del 设置为 1 -->
    <update id="deleteNotificationById">
        UPDATE `T_CLUB_MISSION`
        SET `IS_DEL` = 1
        WHERE `mission_id` = #{notificationId}
        AND club_mission.`TYPE` = 0
        AND `IS_DEL` = 0
    </update>

    <!-- 根据 id 改变通知的状态 -->
    <update id="changeNotificationStatus">
        UPDATE `T_CLUB_MISSION`
        SET `STATUS` = #{status}
        WHERE `mission_id` = #{notificationId}
        AND club_mission.`TYPE` = 0
    </update>

    <!-- 根据通知 notificationId 获取通知详情 -->
    <select id="getNotificationById" resultMap="notificationMap">
        SELECT *
        FROM `T_CLUB_MISSION` mission, `t_club` club
        WHERE mission.`mission_id` = #{notificationId}
        AND mission.`club_id` = club.`club_id`
        AND mission.`TYPE` = 0
        AND mission.`IS_DEL` = 0
    </select>

    <!-- 根据社团 clubId 获取该社团的所有未删除的通知 -->
    <select id="getNotificationsByClubId" resultMap="notificationMap" resultType="List">
        SELECT *
        FROM `T_CLUB_MISSION` club_mission, `T_CLUB` club
        WHERE club_mission.`CLUB_ID` = club.`club_id`
        AND club_mission.`IS_DEl` = 0
        AND club_mission.`TYPE` = 0
        AND club.`club_id` = #{clubId}
    </select>

    <!-- 根据 studentId 获取该学生的所有未删除的通知 -->
    <select id="getNotificationsByStudentId" resultMap="studentNotificationMap" resultType="List">
        SELECT *
        FROM `T_CLUB_MISSION` club_mission, `T_STUDENT_MISSION_RELATION` student_mission
        WHERE club_mission.`mission_id` = student_mission.`MISSION_ID`
        AND club_mission.`IS_DEL` = 0
        AND student_mission.`IS_DEL` = 0
        AND club_mission.`TYPE` = 0
        AND club_mission.`club_id` = #{clubId}
        AND student_mission.`STUDENT_ID` = #{studentId}
    </select>

    <!-- 根据 schoolId 获取该校的所有未删除的通知 -->
    <select id="getNotificationsBySchoolId" resultMap="notificationMap" resultType="List">
        SELECT *
        FROM `T_CLUB_MISSION` club_mission, `T_SCHOOL` school, `T_CLUB` club
        WHERE club_mission.`CLUB_ID` = club.`club_id`
        AND club.`SCHOOL_ID` = school.`school_id`
        AND club_mission.`IS_DEL` = 0
        AND club_mission.`TYPE` = 0
        AND school.`school_id` = #{schoolId}
    </select>

    <!-- 根据社团 clubId 获取该社团的所有未确认并且未删除的通知 -->
    <select id="getUnConfirmNotificationByClubId" resultMap="notificationMap" resultType="List">
        SELECT *
        FROM `T_CLUB_MISSION` club_mission, `T_CLUB` club,
         `T_STUDENT_MISSION_RELATION` student_mission
        WHERE club_mission.`CLUB_ID` = club.`club_id`
        AND club_mission.`IS_DEl` = 0
        AND club_mission.`TYPE` = 0
        AND student_mission.`STATUS` = 0
        AND student_mission.`MISSION_ID` = club_mission.`mission_id`
        AND student_mission.`IS_DEL` = 0
        AND club.`club_id` = #{clubId}
    </select>

    <!-- 根据 studentId 获取该学生的所有未确认并且未删除的通知 -->
    <select id="getUnConfirmNotificationsByStudentId" resultMap="studentNotificationMap" resultType="List">
        SELECT *
        FROM `T_CLUB_MISSION` club_mission, `T_STUDENT_MISSION_RELATION` student_mission
        WHERE club_mission.`mission_id` = student_mission.`MISSION_ID`
        AND club_mission.`IS_DEL` = 0
        AND student_mission.`IS_DEL` = 0
        AND club_mission.`TYPE` = 0
        AND club_mission.`STATUS` = 0
        AND student_mission.`STUDENT_ID` = #{studentId}
    </select>

    <!-- 根据 schoolId 获取该校的所有未确认并且未删除的通知 -->
    <select id="getUnConfirmNotificationsBySchoolId" resultMap="notificationMap" resultType="List">
        SELECT *
        FROM `T_CLUB_MISSION` club_mission, `T_SCHOOL` school, `T_CLUB` club
        WHERE club_mission.`CLUB_ID` = club.`club_id`
        AND club.`SCHOOL_ID` = school.`school_id`
        AND club_mission.`IS_DEL` = 0
        AND club_mission.`TYPE` = 0
        AND club_mission.`STATUS` = 0
        AND school.`school_id` = #{schoolId}
    </select>

    <select id="getNotifyBySponsor" resultMap="sponsorNotifyMap" resultType="List">
        SELECT club_mission.`mission_id`, club_mission.`club_id`, club_mission.`attribution`,
         club_mission.`type`, club_mission.`deadline`, club_mission.`create_date`, club_mission.`is_del`,
         club_mission.`sponsor_id`, club.`name`, club.`status`, club.`avatar_url`, club.`slogan`, club.`level`, club.`school_id`
        FROM `t_club` club, `t_club_mission` club_mission
        WHERE club_mission.`IS_DEL` = 0
        AND club_mission.`TYPE` = 0
        AND club.`club_id` = club_mission.`club_id`
        AND club_mission.`sponsor_id` = #{sponsorId}
    </select>

    <select id="getRelationByNotifyId" resultMap="studentNotificationMap" resultType="List">
        SELECT *
        FROM `t_student_mission_relation` relation, `t_club_mission` club_mission
        WHERE club_mission.`IS_DEL` = 0
        AND club_mission.`TYPE` = 0
        AND club_mission.`mission_id` = #{notifyId}
        AND club_mission.`mission_id` = relation.`mission_id`
        AND relation.`is_del` = 0
    </select>

    <select id="getUnConfirmRelationByNotifyId" resultMap="studentNotificationMap" resultType="List">
        SELECT *
        FROM `t_student_mission_relation` relation, `t_club_mission` club_mission
        WHERE club_mission.`IS_DEL` = 0
        AND club_mission.`TYPE` = 0
        AND club_mission.`mission_id` = #{notifyId}
        AND club_mission.`mission_id` = relation.`mission_id`
        AND relation.`is_del` = 0
        AND relation.`status` = 0
    </select>

    <insert id="createStudentRelation" parameterType="List">
        INSERT INTO `t_student_mission_relation`
        (`mission_id`, `student_id`, `create_date`, `status`, `is_del`, `is_leader`)
        VALUES
        <foreach collection="relations" index="index" item="item" separator=",">
            (
            #{item.missionId}, #{item.studentId}, #{item.createDate}, 0, 0, #{item.isLeader}
            )
        </foreach>
    </insert>

</mapper>