<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weclubs.mapper.WCStudentMapper">

    <!-- 学生实体映射 map，不包含学校信息 -->
    <resultMap id="studentMap" type="com.weclubs.bean.WCStudentBean">
        <id property="studentId" column="student_id" />
        <result property="schoolId" column="school_id" />
        <result property="mobile" column="mobile" />
        <result property="nickName" column="nick_name" />
        <result property="realName" column="real_name" />
        <result property="password" column="password" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="birthday" column="birthday" />
        <result property="className" column="class_name" />
        <result property="graduateYear" column="graduate_year" />
        <result property="status" column="status" />
        <result property="isDel" column="is_Del" />
    </resultMap>

    <!-- 学生实体映射 map，包含学校信息 -->
    <resultMap id="studentWithSchoolMap" type="com.weclubs.bean.WCStudentBean">
        <id property="studentId" column="student_id" />
        <result property="schoolId" column="school_id" />
        <result property="mobile" column="mobile" />
        <result property="nickName" column="nick_name" />
        <result property="realName" column="real_name" />
        <result property="password" column="password" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="birthday" column="birthday" />
        <result property="className" column="class_name" />
        <result property="graduateYear" column="graduate_year" />
        <result property="status" column="status" />
        <result property="isDel" column="is_Del" />

        <association property="schoolBean" javaType="com.weclubs.bean.WCSchoolBean">
            <id property="schoolId" column="school_id" />
            <result property="name" column="name" />
            <result property="parentId" column="parent_id" />
            <result property="isDel" column="is_del" />

            <association property="parentSchoolBean" javaType="com.weclubs.bean.WCSchoolBean">
                <id property="schoolId" column="school_id" />
                <result property="name" column="name" />
                <result property="parentId" column="parent_id" />
                <result property="isDel" column="is_del" />
            </association>
        </association>
    </resultMap>

    <select id="getStudentsBySchool" resultMap="studentWithSchoolMap" resultType="List">
        SELECT *
        FROM `t_student`
        WHERE `school_id` = #{schoolId}
    </select>

    <!-- 查找当前届社团的所有学生 -->
    <select id="getStudentsByCurrentClub" resultMap="studentWithSchoolMap" resultType="List">
        SELECT *
        FROM `t_student` student, `t_student_club_graduate_relation` student_club_graduate, `t_club` club,
        `t_club_graduate` club_graduate
        WHERE club.`club_id` = #{clubId}
        AND club.`club_id` = club_graduate.`club_id`
        AND student.`student_id` = student_club_graduate.`student_id`
        AND student_club_graduate.`graduate_id` = club_graduate.`club_graduate_id`
        AND club_graduate.`is_current` = 1
    </select>

    <!-- 根据 graduateId 查找某一届社团的所有学生 -->
    <select id="getStudentsByClubGraduate" resultMap="studentWithSchoolMap" resultType="List">
        SELECT *
        FROM `t_student`, `t_club_graduate` club_graduate, `t_club` club
        WHERE club_graduate.`club_id` = club.`club_id`
        AND club_graduate.`club_graduate_id` = #{graduateId}
    </select>

    <!-- 根据 studentId 获取学生信息 -->
    <select id="getStudentById" resultMap="studentWithSchoolMap" resultType="com.weclubs.bean.WCClubBean">
        SELECT *
        FROM `t_student`
        WHERE `student_id` = #{studentId}
    </select>

    <!-- 根据学生手机号码获取学生信息 -->
    <select id="getStudentByMobile" resultMap="studentWithSchoolMap" resultType="com.weclubs.bean.WCClubBean">
        SELECT *
        FROM `t_student`
        WHERE `mobile` = #{mobile}
    </select>

    <!-- 根据手机号码创建一个学生账号 -->
    <insert id="createStudent" useGeneratedKeys="true" keyProperty="studentId" parameterType="com.weclubs.bean.WCStudentBean">
        INSERT INTO `t_student`(`mobile`, `password`)
        VALUES (#{mobile}, #{password})
    </insert>

    <!-- 更新学生信息 -->
    <update id="updateStudent" parameterType="com.weclubs.bean.WCStudentBean">
        UPDATE `t_student`
        SET `school_id` = #{schoolId}, `mobile` = #{mobile}, `nick_name` = #{nickName},
         `real_name` = #{real_name}, `password` = #{password}, `avatar_url` = #{avatarUrl},
         `birthday` = #{birthday}, `qrcord_url` = #{qrcordUrl}, `class_name` = #{className},
         `graduate_year` = #{graduateYear}, `status` = #{status}, `is_del` = #{isDel}
        WHERE `student_id` = #{id}
    </update>

    <!-- 更新学生密码 -->
    <update id="updateStudentPassword">
        UPDATE `t_student`
        SET `password` = #{password}
        WHERE `student_id` = #{studentId}
    </update>
</mapper>