<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weclubs.mapper.WCStudentMapper">

    <!-- 学生实体映射 map，不包含学校信息 -->
    <resultMap id="studentMap" type="com.weclubs.bean.WCStudentBean">
        <id property="id" column="id" />
        <result property="schoolId" column="school_id" />
        <result property="mobile" column="mobile" />
        <result property="nickName" column="nick_name" />
        <result property="realName" column="real_name" />
        <result property="password" column="password" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="birthday" column="birthday" />
        <result property="className" column="class_name" />
        <result property="graduateYear" column="graduate_year" />
        <result property="status" column="status" />
        <result property="isDel" column="is_Del" />
    </resultMap>

    <!-- 学生实体映射 map，包含学校信息 -->
    <resultMap id="studentWithSchoolMap" type="com.weclubs.bean.WCStudentBean">
        <id property="id" column="id" />
        <result property="schoolId" column="school_id" />
        <result property="mobile" column="mobile" />
        <result property="nickName" column="nick_name" />
        <result property="realName" column="real_name" />
        <result property="password" column="password" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="birthday" column="birthday" />
        <result property="className" column="class_name" />
        <result property="graduateYear" column="graduate_year" />
        <result property="status" column="status" />
        <result property="isDel" column="is_Del" />

        <association property="schoolBean" javaType="com.weclubs.bean.WCSchoolBean">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="parentId" column="parent_id" />
            <result property="isDel" column="is_del" />

            <association property="parentSchoolBean" javaType="com.weclubs.bean.WCSchoolBean">
                <id property="id" column="id" />
                <result property="name" column="name" />
                <result property="parentId" column="parent_id" />
                <result property="isDel" column="is_del" />
            </association>
        </association>
    </resultMap>

    <select id="getStudentsBySchool" resultMap="studentWithSchoolMap" resultType="List">
        SELECT *
        FROM `T_STUDENT`
        WHERE `SCHOOL_ID` = #{schoolId};
    </select>

    <!-- 查找当前届社团的所有学生 -->
    <select id="getStudentsByCurrentClub" resultMap="studentWithSchoolMap" resultType="List">
        SELECT *
        FROM `T_STUDENT` student, `T_STUDENT_CLUB_GRADUATE_RELATION` student_club_graduate, `T_CLUB` club,
        `T_CLUB_GRADUATE` club_graduate
        WHERE club.`ID` = #{clubId}
        AND club.`ID` = club_graduate.`CLUB_ID`
        AND student.`ID` = student_club_graduate.`STUDENT_ID`
        AND student_club_graduate.`GRADUATE_ID` = club_graduate.`ID`
        AND club_graduate.`IS_CURRENT` = 1;
    </select>

    <!-- 根据 graduateId 查找某一届社团的所有学生 -->
    <select id="getStudentsByClubGraduate" resultMap="studentWithSchoolMap" resultType="List">
        SELECT *
        FROM `T_STUDENT` student, `T_CLUB_GRADUATE` club_graduate, `T_CLUB` club
        WHERE club_graduate.`CLUB_ID` = club.`ID`
        AND club_graduate.`ID` = #{graduateId};
    </select>

    <!-- 根据 studentId 获取学生信息 -->
    <select id="getStudentById" resultMap="studentWithSchoolMap" resultType="com.weclubs.bean.WCClubBean">
        SELECT *
        FROM `T_STUDENT`
        WHERE `ID` = #{studentId};
    </select>

    <!-- 根据学生手机号码获取学生信息 -->
    <select id="getStudentByMobile" resultMap="studentWithSchoolMap" resultType="com.weclubs.bean.WCClubBean">
        SELECT *
        FROM `T_STUDENT`
        WHERE `MOBILE` = #{mobile};
    </select>

    <!-- 根据手机号码创建一个学生账号 -->
    <insert id="createStudent" useGeneratedKeys="true" keyProperty="id" parameterType="com.weclubs.bean.WCStudentBean">
        INSERT INTO T_STUDENT(`MOBILE`)
        VALUES (#{mobile});
    </insert>

    <!-- 更新学生信息 -->
    <update id="updateStudent" parameterType="com.weclubs.bean.WCStudentBean">
        UPDATE `T_STUDENT`
        SET `SCHOOL_ID` = #{schoolId}, `MOBILE` = #{mobile}, `NICK_NAME` = #{nickName},
         `REAL_NAME` = #{real_name}, `PASSWORD` = #{password}, `AVATAR_URL` = #{avatarUrl},
         `BIRTHDAY` = #{birthday}, `QRCORD_URL` = #{qrcordUrl}, `CLASS_NAME` = #{className},
         `GRADUATE_YEAR` = #{graduateYear}, `STATUS` = #{status}, `IS_DEL` = #{isDel}
        WHERE `ID` = #{id};
    </update>

    <!-- 更新学生密码 -->
    <update id="updateStudentPassword">
        UPDATE `T_STUDENT`
        SET `PASSWORD` = #{password}
        WHERE `ID` = #{studentId};
    </update>
</mapper>