<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weclubs.mapper.WCTokenMapper">

    <!-- token实体映射 map，不包含学校信息 -->
    <resultMap id="clubMap" type="com.weclubs.bean.WCTokenBean">
        <result property="uId" column="uid" />
        <result property="token" column="token" />
        <result property="caller" column="caller" />
        <result property="createDate" column="create_date" />
    </resultMap>

    <!-- 根据 uid 和 caller 查找对应的 token 实体对象 -->
    <select id="getTokenByUIdAndCaller" resultMap="clubWithSchoolMap">
        SELECT * FROM `T_TOKEN`
        WHERE `UID` = #{uId}
        AND `CALLER` = #{caller};
    </select>

    <!-- 根据 uid 和 caller 删除对应的 token 实体对象 -->
    <delete id="deleteTokenByUIdAndCaller">
        DELETE FROM `T_TOKEN`
        WHERE `UID` = #{uId}
        AND `CALLER` = #{caller};
    </delete>

    <!-- 创建 token 实体对象 -->
    <insert id="createToken" parameterType="com.weclubs.bean.WCTokenBean">
        INSERT INTO T_TOKEN(`UID`, `TOKEN`, `CALLER`, `CREATE_DATE`)
        VALUES (#{uId}, #{token}, #{caller}, #{createDate};
    </insert>

    <!-- 更新 token 对象 -->
    <update id="updateToken" parameterType="com.weclubs.bean.WCTokenBean">
        UPDATE `T_TOKEN`
        SET `TOKEN` = #{token}, `CREATE_DATE` = #{createDate}
        WHERE `UID` = #{uId}
        AND `CALLER` = #{caller};
    </update>

</mapper>